/** 
* -Uniform font for the entire document: Lexend
* -Uniform text size for headings: ???
* -Uniform paragraph size: ???
* -Uniform paragraph color: ???
* -Uniform header color: ???
* -Border radius: 50% for most images
* -navy blue: #0B1F3A
* -Grey: #2c312d
*/

img {
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #0B1F3A;
}