<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{% block title %}Nicholas Spruce{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Desktop.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>
    <header>
        <nav class="navbar" id="navbar">
            <a href="{{ url_for('home_d') }}" class="nav-link {% if active == 'home' %}active{% endif %}">Home</a>
            <a href="{{ url_for('about_d') }}" class="nav-link {% if active == 'about' %}active{% endif %}">About Me</a>
            <a href="{{ url_for('projects_d') }}" class="nav-link {% if active == 'projects' %}active{% endif %}">Projects</a>
            <a href="{{ url_for('course_work_d') }}" class="nav-link {% if active == 'course_work' %}active{% endif %}">Course Work</a>
            <a href="{{ url_for('contact_me_d') }}" class="nav-link {% if active == 'contact' %}active{% endif %}">Contact Me</a>
            <img src="{{ url_for('static', filename='images/white_tree.png') }}" alt="White spruce tree logo" style="height:50px;width:50px;border-width:0px;box-shadow:none;">
        </nav>
    </header>

    <main>
        {% block body %}
        <!-- Child templates insert their content here -->
        {% endblock %}
    </main>

    <script src="{{ url_for('static', filename='JavaScript/sync-width.js') }}"></script>
</body>
</html>
