{% extends "base.html" %}

{% block main_body %}
<div class="container">
  {% for project in content.projects %}
    <section class="card" style="margin-top:1rem;">
      <h1>{{ project.title }}</h2>
      <p>{{ project.subtitle }}</p>

      {% for b in project.blocks %}
        {% if b.kind == "header" %}
            <h2>{{ b.text }}</h2>

        {% elif b.kind == "body" %}
            <p>{{ b.text }}</p>

        {% elif b.kind == "img" %}
            <figure style="margin-top:.75rem;">
              <img src="{{ b.src }}" alt="{{ b.alt or project.title }}" loading="lazy">
              {% if b.alt %}<figcaption class="text-sm" style="color:#666;">{{ b.alt }}</figcaption>{% endif %}
            </figure>
        {% endif %}
      {% endfor %}
    </section>
  {% endfor %}
</div>
{% endblock %}
